<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>my-swift-30-days-learn.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F6E45FE31F011AB10031FCF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F6E45FF71F011AB10031FCF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F6E460021F011AB20031FCF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
